<div class="flex items-center">
  <div class="lg:w-1/2 my-8 md:my-10 lg:mt-24 lg:mb-32">
    <h1 class="md:text-4xl lg:text-5xl text-grey-darkest">Memorize <span class="text-indigo-dark">everything</span> with flashcards</h1>

    <p class="mb-8 leading-normal">Remember everything with flashcards and spaced repetition. Start learning languages and other subjects now!</p>

    <%= link_to 'Start learning', new_user_registration_path, class: 'btn btn-primary tracking-wide' %>
  </div>
  <div class="hidden lg:block lg:w-1/2 text-center">
    <%= image_tag 'card.png', class: 'w-full max-w-xs' %>
  </div>
</div>

<hr class="border-b-2 border-grey-lighter">

<div id="how-to" class="py-8 lg:pt-12 lg:pb-16">
  <h2 class="text-3xl text-grey-darkest">How to use flashcards</h2>

  <div class="w-16 h-2 bg-indigo-light mb-1 mb-8">
  </div>

  <div class="flex flex-col lg:flex-row lg:flex-row justify-between">
    <div id="step-1" class="mb-8 lg:mb-0 lg:mr-3">
      <h3>1.</h3>
      <div class="flex lg:mb-6">
        <i class="material-icons">library_books</i>
        <i class="material-icons">library_music</i>
        <i class="material-icons">movie</i>
      </div>
      <p class="text-lg text-grey-darkest">Use your own content</p>
    </div>
    <div class="self-center hidden lg:block">
      <i class="arrow material-icons">arrow_forward_ios</i>
    </div>
    <div id="step-2" class="mb-8 lg:mb-0 lg:mr-3">
      <h3>2.</h3>
      <div class="mb-4 lg:mb-5">
        <div class="mb-3 text-grey-darker">
          <span class="word">un marché</span>
          <span class="text-sm">→</span>
          <span class="word mr-1">market</span>
          <span class="text-grey text-sm">/maʁ.ʃe/</span>
        </div>
        <div class="mb-3 text-grey-darker">
          <span class="word">une croissance</span>
          <span class="text-sm">→</span>
          <span class="word mr-1">growth</span>
          <span class="text-grey text-sm">/kʁwa.sɑ̃s/</span>
        </div>
        <div class="mb-3 text-grey-darker">
          <span class="word">une mère</span>
          <span class="text-sm">→</span>
          <span class="word mr-1">mother</span>
          <span class="text-grey text-sm">/mɛʁ/</span>
        </div>
      </div>
      <p class="text-lg text-grey-darkest">Create cards</p>
    </div>
    <div class="self-center hidden lg:block">
      <i class="arrow material-icons">arrow_forward_ios</i>
    </div>
    <div id="step-3" class="mb-8 lg:mb-0 lg:mr-3">
      <h3>3.</h3>
      <div class="mb-2 flex">
        <div class="bg-grey-lightest rounded py-3 px-5 text-sm text-grey-darker mr-4">
          un marché
          <hr class="border-b-2 my-2">
          market

          <div class="flex justify-between mt-3">
            <div class="inline-block rounded py-1 px-3 mr-2 bg-grey-light">1</div>
            <div class="inline-block rounded py-1 px-3 mr-2 bg-grey-light">2</div>
            <div class="inline-block rounded py-1 px-3 bg-grey-light">3</div>
          </div>
        </div>
        <div class="bg-grey-lightest rounded py-3 px-5 text-sm text-grey-darker">
          une croissance
          <hr class="border-b-2 my-2">
          growth

          <div class="rounded mt-3 py-1 px-2 mr-2 bg-grey-light">Show answer</div>
        </div>
      </div>
      <p class="text-lg text-grey-darkest">Practice daily</p>
    </div>
  </div>
</div>

<hr class="border-b-2 border-grey-lighter">

<footer class="flex justify-between pt-6 pb-8 lg:pt-10 lg:pb-16">
  <div class="text-grey font-mono">
    Made by <a href="https://dankim.io" target="_blank">@dankimio</a>
  </div>

  <div class="text-grey font-mono">
    <ul class="list-reset">
      <li class="inline-block ml-3"><a href="#" class="text-grey">About</a></li>
      <li class="inline-block ml-3"><a href="#" class="text-grey">Blog</a></li>
    </ul>
  </div>
</footer>
