<div class="flex items-center">
  <div class="lg:w-1/2 md:my-10 lg:my-20">
    <h1 class="md:text-4xl lg:text-5xl text-grey-darkest">Memorize <span class="text-indigo-dark">everything</span> with flashcards</h1>

    <p class="mb-8 leading-normal">Remember everything with flashcards and spaced repetition. Start learning languages and other subjects now!</p>

    <%= link_to 'Start learning', new_user_registration_path, class: 'btn btn-primary tracking-wide' %>
  </div>
  <div class="hidden lg:block lg:w-1/2 text-center">
    <%= image_tag 'card.png', class: 'w-full max-w-xs' %>
  </div>
</div>
