:root {
  --transition-base: all .15s ease-in-out;
}

.field {
  @apply .mb-4;

  & small {
    @apply .block .mt-2 .text-grey-dark;
  }
}

form label {
  @apply .inline-block .text-grey-darker .text-sm .font-semibold .mb-2;
}

.form-control {
  @apply .block .appearance-none .border .rounded .w-full .p-3 .text-grey-darkest .leading-tight;

  &:focus {
    transition: var(--transition-base);

    @apply .outline-none;
  }
}

/* Alerts */

.alert {
  @apply .mb-5 .border .px-4 .py-3 .rounded .relative;
}

.alert-notice {
  @apply .bg-indigo-lightest .border-indigo-lighter .text-indigo-dark;
}

.alert-alert {
  @apply .bg-red-lightest .border-red-lighter .text-red-dark;
}

/* Buttons */

.btn {
  @apply .inline-block .py-2 .px-4 .rounded .no-underline .border .shadow .align-middle;

  &:hover {
    cursor: pointer;
    transition: var(--transition-base);
    transform: translateY(-1px);
  }
  &:focus {
    @apply .outline-none .shadow-outline;
  }
}

.btn-lg {
  @apply .py-3 .px-5 .tracking-wide;
}

.btn-primary {
  @apply .bg-indigo .border-indigo .text-white;

  &:hover {
    @apply .bg-indigo-dark .text-grey-lighter;
  }
}

.btn-outline-primary {
  @apply .bg-white .border-indigo .text-indigo;

  &:hover {
    @apply .bg-indigo .text-white;
  }
}

.btn-danger {
  @apply .bg-red-light .border-red-light .text-white;

  &:hover {
    @apply .bg-red .text-grey-lighter;
  }
}

.btn-outline-danger {
  @apply .bg-white .border-red-light .text-red-light;

  &:hover {
    @apply .bg-red-light .text-white;
  }
}

/* Tables */

.table {
  @apply .w-full .text-left;

  & thead th {
    @apply .border-b .border-b-2 .border-t;
  }

  & td, & th {
    @apply .p-3;
  }

  & td {
    @apply .border-b;
  }

  & tr:last-child {
    & td {
      @apply .border-b-0;
    }
  }
}
