body {
  @apply .font-sans;
}

a {
  @apply .text-indigo;

  text-decoration: none;

  &:hover {
    @apply .text-indigo-darker;

    transition: var(--transition-base);
  }
}

h1, h2, h3 {
  @apply .mb-4 .font-semibold;

  & small {
    @apply .font-normal;
  }
}

h4, h5, h6 {
  @apply .mb-2;
}

.stripe {
  background: linear-gradient(to right, #7886d7, #5661b3);
}

.card-front {
  @apply .p-5;
}

.card-back {
  transition: var(--transition-base);

  &.active {
    transition: var(--transition-base);
    @apply .border-t .border-grey-lighter .py-5 .mx-5;
  }
}

.circle {
  @apply .inline-flex .rounded-full .text-white .items-center .justify-center;
}

#response-buttons .btn {
  display: block;

  @media (min-width: 576px) {
    display: inline-block;
  }
}
