body {
  @apply .font-sans;
}

a {
  @apply .text-indigo;

  text-decoration: none;

  &:hover {
    @apply .text-indigo-darker;

    transition: var(--transition-base);
  }
}

.stripe {
  background: linear-gradient(to right, #7886d7, #5661b3);
}

#response-buttons .button_to {
  display: inline-block;
}
