body {
  @apply .font-sans;
}

a {
  @apply .text-indigo;

  text-decoration: none;

  &:hover {
    @apply .text-indigo-darker;

    transition: var(--transition-base);
  }
}

.stripe {
  background: linear-gradient(to right, #7886d7, #5661b3);
}

.card {
  @apply .bg-grey-lightest .rounded;

  & .card-front {
    @apply .p-5;
  }

  & .card-back {
    transition: var(--transition-base);

    &.active {
      transition: var(--transition-base);
      @apply .border-t .border-grey-lighter .py-5 .mx-5;
    }
  }
}

#response-buttons .button_to {
  display: inline-block;
}
