#how-to {
  & h3 {
    @apply .font-medium .text-lg .text-indigo-light uppercase mb-6;

    @media (min-width: 992px) {
      @apply .mb-8;
    }
  }
  & .arrow {
     @apply .text-grey-light;

     font-size: 2.5rem;

     @media (min-width: 768px) {
       font-size: 3rem;
     }
     @media (min-width: 1200px) {
       font-size: 4rem;
     }
  }
}

#features {
  display: grid;

  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 3rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
  }
}

#articles {
  & .article {
    transition: .25s;

    &:hover {
      transition: .25s;
    }
  }
}
