<h1 class="font-normal text-3xl mb-4">
  <%= link_to @deck.name, @deck, class: 'text-black no-underline' %> → Cards
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Front</th>
      <th>Back</th>
    </tr>
  </thead>
  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.front %></td>
        <td><%= card.back %></td>
      </tr>
    <% end %>
  </tbody>
</table>
