<h1 class="heading-2 text-center">
  New deck
</h1>

<%= form_with model: @deck, local: true, class: 'md:max-w-sm md:mx-auto' do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name,
                     autofocus: true, required: true, placeholder: true,
                     class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary btn-lg w-full' %>
<% end %>
