<h1 class="text-grey-darkest">
  <%= @deck.name %>
</h1>

<%= link_to deck_study_path(@deck), class: 'btn btn-primary' do %>
  <i class="material-icons mr-1" style="font-size:.85rem">play_arrow</i> Study
<% end %>

<%= link_to deck_cards_path(@deck), class: 'btn btn-outline-primary' do %>
  <i class="material-icons mr-1" style="font-size:.85rem">list</i> Cards
<% end %>

<%= link_to edit_deck_path(@deck), class: 'btn btn-outline-primary' do %>
  <i class="material-icons mr-1" style="font-size:.85rem">settings</i> Settings
<% end %>
